body {
    font-family: sans-serif;
    background-image: linear-gradient(rgb(55, 140, 55), rgb(134, 181, 134));

}


h1 {
    text-align: center;
    color:red;
    box-shadow: crimson;
}


header {
    background-color: yellow;
    height: 70px;
    padding: 10px;
    margin-bottom: 30px;

}   


.link-nav {
    text-decoration: none;
    background-color: rgb(177, 241, 245);
    padding: 10px;
    border-radius: 10px;
}


.link-header {
    text-decoration: none;
    background-color: rgb(177, 241, 245);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    top: 25px;
}
